#container-about {
  display: flex;
  min-height: 67vh;
  align-items: center;
}

.presentation {
  width: 50%;
  height: auto;
  color: #000;
  font-family: Baskerville;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  #display-contenu {
    display: none;
  }
  .presentation {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .container-about {
    align-items: center;
  }
}
