.mentionslégales h1 {
  color: #000;
  font-family: Baskerville;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  margin-bottom: 25px;
}
.mentionslégales h2 {
  color: #000;
  font-family: Baskerville;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  margin: 0px;
}
.mentionslégales p {
  color: #000;
  font-family: Baskerville;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.mentionslégales {
  margin: 0 auto;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}
